@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
body {
  background: theme("backgroundColor.black");
  color: theme("textColor.white");
  letter-spacing: -0.0275em;
}

::selection {
  background: theme("backgroundColor.neutral.600");
}
